.joblisting-container {
    height: 100%;
}

.logout-button {
    background-color: "#bc3bae";
    color: "white";
    padding: "10px 20px";
    margin: "10px";
    border: "none";
    border-radius: "5px";
    cursor: "pointer";
    transition: "all 0.3s ease-out";
}


.joblisting-detail div button {
    background-color: #bc3bae;
    color: #fdfdfd;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.joblisting-body {
    display: flex;
    padding: 20px;
    height: 90%;
}

.joblisting-list {
    flex: 1;
    margin-top: 10px;
    margin-right: 10px;
    min-width: 200px;
    max-width: 100%;
    height: 90.5%;
    overflow-y: scroll;
    padding-right: 20px;
}

.joblisting-list p {
    color: #fdfdfd;
}

.joblisting-item {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #bc3bae;
    border-radius: 5px;
    background-color: #281b3f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
}

.joblisting-item:hover {
    background-color: #898192;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.joblisting-item-selected {
    background-color: #898192;
}

.joblisting-detail {
    margin-top: 10px;
    height: 90%;
    flex: 1;
    text-align: center;
    background-color: #fdfdfd;
    color: #281b3f;
    overflow: auto;
}

@media (max-width: 768px) {
    .joblisting-body {
        flex-direction: column;
    }

    .joblisting-detail {
        display: none;
    }

    .joblisting-detail-active {
        display: block;
        position: fixed;
        min-width: 150px;
        right: 0;
        left: 0;
        top: 20%;
        border: 3px solid #f1f1f1;
        z-index: 1;
        background-color: #fdfdfd;
        opacity: 0.9;
    }
}