.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header,
.footer {
  flex: 0 1 auto;
  height: 60px;
}

.content {
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 768px) {

  .header,
  .footer {
    height: 50px;
  }
}

@media (max-width: 480px) {

  .header,
  .footer {
    height: 40px;
  }

}